@page "/"
@using BlazTronic.Components.Card
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Card Title="test card" EnableShadow="true" EnableCardScroll="true">
    <Body>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    </Body>
</Card>
