@page "/"
@using BlazTronic.Components.Card
@using BlazTronic.Components.Select

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Card Title="test card" EnableShadow="true" EnableCardScroll="true">
    <Body>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    <p>This is the main content</p>
    
   
    </Body>

</Card>
<SelectCountry CountryCodes="_countryCodes"></SelectCountry>
@code
{
    public string[] _countryCodes;
    protected override async Task OnInitializedAsync()
    {
        _countryCodes = new[] {"ng","gb"};
    }
}

